In [107]:
import pandas as pd
import numpy as np

In [108]:
from pandas import Series, DataFrame

In [109]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [110]:
type(obj)

pandas.core.series.Series

In [111]:
obj.values

array([ 4,  7, -5,  3])

In [112]:
obj.index #like range(4)

RangeIndex(start=0, stop=4, step=1)

In [113]:
obj2 = pd.Series([4,7,-5,3], index = ['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [114]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [115]:
obj2['a']

-5

In [116]:
obj2['d']=6
obj2['d']

6

In [117]:
obj2[['c','a','d']]

c    3
a   -5
d    6
dtype: int64

In [118]:
obj2[obj2<0]

a   -5
dtype: int64

In [119]:
obj2[obj2>0]

d    6
b    7
c    3
dtype: int64

In [120]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [121]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [122]:
'z' in obj2

False

In [123]:
'b' in obj2

True

In [124]:
'e' in obj2

False

In [125]:
sdata = {'Ohio': 35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [126]:
states = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [127]:
notas = {'Español':90,'Mate':80,'Sociales':85,'Ciencias':95}
sJuan = pd.Series(notas, name='Notas de Juan')
sJuan

Español     90
Mate        80
Sociales    85
Ciencias    95
Name: Notas de Juan, dtype: int64

In [128]:
prom = sJuan.mean()
prom

87.5

In [129]:
notaMax = sJuan.max()
notaMax

95

In [130]:
notaMenor = sJuan.min()
notaMenor

80

In [131]:
sJuan[sJuan >= 90]

Español     90
Ciencias    95
Name: Notas de Juan, dtype: int64

In [132]:
sJuan[['Mate','Ciencias']]

Mate        80
Ciencias    95
Name: Notas de Juan, dtype: int64